<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='theme-color' content='#0595fc' />
    <meta name="description" content="The best restaurant recommendation finder app near you!">

    <link
      rel='shortcut icon'
      href='https://icons.iconarchive.com/icons/graphicloads/food-drink/128/dish-2-icon.png'
    />
    <link rel='manifest' href='./manifest.json' />
    <link rel='apple-touch-startup-image' href='../public/images/icon96.png' />
    <link rel='apple-touch-icon' href='../public/images/icon96.png' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>SavorySearch</title>
  </head>
  <body>
    <skip-content></skip-content>
    <app-bar></app-bar>
    <main id='content'></main>
    <footer-bar></footer-bar>
  </body>
</html>
